<% content_for :head do %>
  <%= javascript_packs_with_chunks_tag 'admin' %>
<% end %>

<div class="container py-3">
  <h1 class="mb-3">Admin &gt; Elasticsearch</h1>

  <p><button type="button" class="btn btn-light" onclick="window.location.reload()">Refresh</button></p>

  <p class="lead">
    Cluster status:
    <span class="badge bg-<%= { 'red' => 'danger', 'yellow' => 'warning', 'green' => 'success' }.fetch(@cluster_status) %>">
      <%= @cluster_status.titleize %>
    </span>
  </p>

  <div class="accordion" id="accordion">
    <%= render 'accordion_item', accordion: 'accordion', key: 'actions', title: 'Actions' do %>
      <% %w(create_document_index refresh_document_index import_documents).each do |command| %>
        <%= form_tag(nil, class: 'd-inline') do %>
          <input type="hidden" name="command" value="<%= command %>">
          <button type="submit" class="btn btn-light"><%= command.gsub('_', ' ').titleize %></button>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'accordion_item', accordion: 'accordion', key: 'cluster-health', title: 'Cluster Health' do %>
      <code><pre class="mb-0"><%= @cluster_health.to_yaml %></pre></code>
    <% end %>

    <%= render 'accordion_item', accordion: 'accordion', key: 'cluster-state', title: 'Cluster State' do %>
      <code><pre class="mb-0"><%= @cluster_state.to_yaml %></pre></code>
    <% end %>

    <%= render 'accordion_item', accordion: 'accordion', key: 'indices', title: 'Indices' do %>
      <code><pre><%= @client.cat.indices %></pre></code>

      <div class="accordion" id="indices-accordion">
        <% @index_names.each_with_index do |index_name, i| %>
          <%= render 'accordion_item', accordion: 'indices-accordion', key: i, title: index_name do %>
            <code><pre class="mb-0"><%= @client.indices.get(index: index_name).to_yaml rescue '[Could not get index]' %></pre></code>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
