<h1 class="h1">Sign in</h1>

<%= form_for(
  resource,
  as: resource_name,
  url: session_path(resource_name),
  html: { class: 'contents static-form' },
) do |f| %>
  <%= render 'users/shared/email_field', f: f %>
  <%= render 'users/shared/password_field', f: f %>

  <% if devise_mapping.rememberable? %>
    <%= f.hidden_field :remember_me, value: true %>
  <% end %>

  <%= render 'users/shared/honeypot' %>

  <div class="actions">
    <%= f.submit 'Sign in', class: 'btn btn-rect btn-primary w-full' %>
  </div>
<% end %>

<% content_for :auth_links do %>
  <%= render 'users/shared/links', links: %i[sign_up forgot_password confirm_email] %>
<% end %>
