<% label = local_assigns.fetch(:label, 'Password') %>
<% confirm_label = local_assigns.fetch(:confirm_label, 'Confirm password') %>

<div class="field">
  <%= f.label :password, label %>

  <%= f.password_field :password,
    autocomplete: 'new-password',
    placeholder: label,
    'aria-describedby': 'password-hint'
  %>

  <p id="password-hint" class="hint">
    Must be at least <%= @minimum_password_length %> characters long
  </p>
</div>

<div class="field">
  <%= f.label :password_confirmation, confirm_label %>
  <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: confirm_label %>
</div>
