<title>Untitled Note App</title>
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= vite_client_tag %>
<%= vite_react_refresh_tag %>

<%= vite_stylesheet_tag 'application.scss' %>
