<nav class="narrow-lg pt-5 px-5 flex flex-wrap gap-5">
  <%= link_to welcome_path, class: 'animated-word-mark mr-auto' do %>
    <span class="sr-only">Untitled</span>
    <%= render 'shared/word_mark_without_bar' %>
    <span class="word-mark-bar"></span>
  <% end %>

  <% if user_signed_in? %>
    <%= styled_link_to 'Open app', '/' %>

    <%#
      Make sure users use the sign out button in the React app to ensure that
      cache data is cleared.
    %>
    <%#= form_tag destroy_user_session_path, method: :delete do %>
      <%#= styled_submit_link 'Sign out' %>
    <%# end %>
  <% else %>
    <%= styled_link_to 'Create account', new_user_registration_path %>
    <%= styled_link_to 'Sign in', new_user_session_path %>
  <% end %>
</nav>
