<!DOCTYPE html>
<html>
  <head>
    <title>Note App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= yield :head %>
  </head>

  <body class="bg-page-bg-light text-slate-700 dark:bg-page-bg-dark dark:text-slate-200">
    <%= yield %>
  </body>
</html>
