<!DOCTYPE html>
<html class="scroll-pb-5">
  <head>
    <title>Untitled Note App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style type="text/css">
      @media (prefers-color-scheme: dark) {
        body {
          /* Prevent flash of unstyled dark mode */
          background-color: rgb(15, 23, 42);
        }
      }
    </style>

    <script type="text/javascript">
      // Fix error in Draft.js
      const global = globalThis
    </script>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= yield :head %>
  </head>

  <body class="min-h-screen text-ui bg-page-bg-light ring-offset-page-bg-light dark:bg-page-bg-dark dark:ring-offset-page-bg-dark">
    <%= yield %>
  </body>
</html>
