<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= vite_typescript_tag 'toasts.tsx' %>
    <%= yield :head %>
  </head>

  <body class="flex flex-col">
    <%= render 'shared/navbar' %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render 'shared/flash' %>
  </body>
</html>
