<% content_for(:max_w) { 'max-w-screen-lg' } %>

<% content_for :head do %>
  <%= vite_typescript_tag 'editAccount.ts' %>
<% end %>

<h1 class="h1">Edit account</h1>

<%= render 'users/shared/error_messages', resource: resource %>

<div class="grid lg:grid-cols-2 gap-5">

<div class="static-form-section" data-testid="change-email-address">
  <h2 class="h2">Email address</h2>

  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put, class: 'contents static-form' },
  ) do |f| %>
    <%= render 'users/shared/email_field', f: f, label: 'New email address', autofocus: false %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= render 'users/shared/password_field', f: f, field: :current_password, label: 'Current password', id: 'change_email_current_password' %>

    <div class="actions">
      <%= f.submit 'Change email address', class: 'btn btn-rect btn-primary w-full' %>
    </div>
  <% end %>
</div>

<div class="static-form-section" data-testid="change-password">
  <h2 class="h2">Password</h2>

  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put, class: 'contents static-form' },
  ) do |f| %>
    <%= render 'users/shared/password_field', f: f, field: :current_password, label: 'Current password', id: 'change_password_current_password' %>

    <%= render 'users/shared/new_password_fields', f: f, label: 'New password', confirm_label: 'Confirm new password' %>

    <div class="actions">
      <%= f.submit 'Change password', class: 'btn btn-rect btn-primary w-full' %>
    </div>
  <% end %>
</div>

<div class="static-form-section lg:col-span-2" data-testid="delete-account">
  <h2 class="h2">Delete account</h2>

  <ul class="space-y-2">
    <li><strong><%= pluralize resource.projects.count, 'project' %></strong> will be deleted</li>
    <li><strong><%= pluralize resource.documents.count, 'document' %></strong> will be deleted</li>
    <li><strong><%= pluralize resource.s3_files.count, 'file' %></strong> will be deleted</li>
  </ul>

  <%= form_tag registration_path(resource_name), method: :delete, class: 'contents static-form' do %>
    <div class="field">
      <%= check_box_tag :are_you_sure %>
      <%= label_tag :are_you_sure, 'I understand that this action is permanent and cannot be undone.' %>
    </div>

    <div class="actions">
      <%= submit_tag 'Delete account', id: 'delete_account', class: 'btn btn-rect btn-danger max-lg:w-full', disabled: true %>
    </div>
  <% end %>
</div>
</div>

<% content_for :auth_links do %>
  <%= render 'users/shared/links', links: %i[confirm_email] %>
<% end %>
